################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rokn-mahrousa/CopilotIndices/18.9.1319.62376/SemanticSymbols.db-wal
